/* CSS_Table.css */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid silver; 
    padding: 8px;
    text-align: left;
}

th {
    background-color: black; 
    color: cornsilk; 
}

tr:nth-child(even) {
    background-color: darkgreen;
    color: white; 

tr:nth-child(odd) {
    background-color: white;
    color: darkgreen; 
}

tr:hover {
    background-color: 
}
